
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}
.text-primary{
    color: #FD6E0A
}
h2 {
  font-family: "Noto Serif", serif;
    
}
h4 {
  font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: bold;
    font-size: 55px;
    margin: 0;
}
 h5{
    font-family: "Noto Serif", serif;
    font-weight: 800;
    font-style: bold;
    font-size: 64px;
    margin: 0;
}
.sub-title{
    color: rgb(143, 148, 144);
    margin: 0;
    font-size: 22px;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; 
}

#navbar{
    display: flex;
    justify-content: space-between;
     align-items: center;
  padding: 10px 20px;
}
.menu {
  display: flex;
  gap: 25px;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: rgb(143, 148, 144);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px; 
}
.menu a.active {
  font-weight: 700;
  color: #111;
}
#banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
    padding: 100px 0 100px;
}
.banner-title{
    margin: 0;
}

 #plants{
    padding: 100px 0 100px;
    text-align: center;
 }
 .plants-title{
    padding-bottom: 50px;
 }
 .plants-title h5{
    font-size: 55px;
 }

 .plants-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
 }
 .plants-cart h3{
    font-size: 1.5em;
    font-weight: 400;
 }
.plants-cart p{
    font-size: 1.5em;
    font-weight: 800;
 }
.plants-cart button{
    background-color: #e76305;  
    color: #fff;                
    padding: 15px;         
    text-transform: uppercase; 
    font-weight: 500;
     font-size: 14px;
    border: none;
     display: inline-block;
     text-align: center;
     width: 100%;
}
 
 .plant img{
    width: 100%;
 }
#plants-lover {
  display: flex;
  justify-content: space-between;

  padding: 100px 0 100px;
}

.lover-img {
  
  position: relative; 
  width: 100%;

}

.lover-img img {
  max-width: 100%;
  height: auto;

}

.badge-img {
  position: absolute;
  display: flex;
  justify-content: end;
  top: -130px;   
  right: -75px; 

}

.badge-img img {
  max-width: 45%; 
  height: auto;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.3));
  animation: spin 2s linear infinite;
}
  @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lover-title {
  margin-top: 50px;
  margin-left: 20px;
  text-wrap: wrap ;
}
.lover-img,
.lover-title {
  flex: 1; 
}
.lover-title h4 {
    font-size: 3.5rem;
}
.lover-title ul {
    list-style-type: disc;
}

.lover-title li {
  margin-bottom: 10px;
  color: rgb(143, 148, 144);
  font-size: 24px;
}

#deals{
  position: relative;
  text-align: center;
  padding: 0 0 100px;
}
#deals .title{
  padding: 0 0 100px
}
#deals .title h5{
  font-size: 55px;
}

.collage{
  position: relative;
  display: flex;
  gap: 20px;
  
}

.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.card {
  position: relative;
  display: inline-block;
 
}

.card img {
  display: block;
  width: 100%; 
  height: auto;
  border-radius: 15px;
}

.card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;          

}
.card > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;           
  font-size: 20px;       
  pointer-events: none;  
}

.centered-info{
  width: 100%;

}
.centered-info h2{
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 0;
}
.centered-info a{
  font-size: 16px;
  color: white;
  display: inline-block;
}
.black-overlay {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5; 
}
.right > .card > .centered-info h2{
  font-size: 2.5em;
}
.right > .card > .centered-info a{
  font-size: 1.5em;
}

#join{
 background-image: url("/B12A02-Responsive-Flowers/assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 533px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#join > .title{
  margin-top: 0;
  font-size: 2.2em;
  color: white;
}

form{
  width: 850px;
  display: flex;
  flex-direction: row;
  gap: 0;
  overflow: hidden;
}

.input-box input[type="mail"] {
  width: 640px;
  padding: 10px;
  border: none;
  font-size: 1em;
}
.input-box input[type="button"] { 
  width: 180px;
  padding: 10px;
  border: none;
  background-color: #ff4d00;
  color: white;
  font-size: 1em;
}

#footer {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 50px;
  display: grid;
  grid-template-columns: 250px 85px 120px 150px;
  justify-content: space-between;
  align-items: start;
}
.footer-logo img{
  max-width: 9vw;
}
.footer-logo p{
  font-size: 1em;
}
.footer-menu-home{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}
.footer-menu-home a{
  text-decoration: none;
  color: rgb(143, 148, 144);
  font-size: .8em;
}
.footer-menu-features{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}
.footer-menu-features a{
  text-decoration: none;
  color: rgb(143, 148, 144);
  font-size: .8em;
}
.footer-social-icon  {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 36px;
  height: 36px;
}

/* Responsive Design  */
@media screen and (max-width:576px){
 .container{
  padding: 0;
 }
 .sub-title {
    color: rgb(143, 148, 144);
    margin: 0;
    font-size: 17px;
}
h5{
  font-size: 32px;
}
.plants-title h5 {
    font-size: 32px;
}
 #navbar {
    padding: 15px 20px;
  }
  #navbar .menu a {
    display: none; 
  }
  #navbar .menu a:last-child {
    display: inline-block;
    margin-left: 0;
  }
  #navbar .menu {
    display: flex;
    align-items: center;
  }

 #banner {
    flex-direction: column; 
    text-align: start;
    padding: 0;
    gap: 10px;
  }

  .banner-img {
    order: -1; 
  }
 .banner-img img {
    max-width: 393px;
  }
  .banner-title h5 {
    
    margin-top: 20px; 
    font-size: 32px;
    
  }

    .banner-title p {
    margin-top: 20px; 
    font-size: 17px;
  }
  #plants{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .plants-title {
  text-align: center;
  max-width: 336px;
}

.plants-title h5 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}
 


#plants > .plants-title p {
  color: #6c757d;
  font-size: 17px;
}

.plants-cart{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#plants-lover{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 0 100px 0;
}
.badge-img{
   display: none; 
}
.lover-title {
    margin-top: 20px;
    margin-left: 0;
    text-wrap: wrap;
    
}
.lover-title h4 {
  font-size: 1.7rem;
}
.lover-title li {
    margin-bottom: 10px;
    color: rgb(143, 148, 144);
    font-size: 16px;
}
#deals{
  padding: 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#deals .title{
  padding-bottom: 50px;
  max-width: 336px;
  text-align: center;
}
#deals .title h5{
   font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

#deals > .title p {
  color: #6c757d;
  
  font-size: 16px;
}

.collage{
  display: flex;
  flex-direction: column;
  
}
.centered-info a{
  font-size: 18px;
}
.right > .card > .centered-info h2{
  font-size: 20px;
}

.right > .card > .centered-info a{
  font-size: 18px;
}
#join {
    
    min-height: 276px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#join > .title{
  margin-top: 0;
  font-size: 1em;
  color: white;
}

form{
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  overflow: hidden;
}

.input-box input[type="mail"] {
  width: 70%;
  padding: 15px;
  border: none;
  font-size: 1em;
}
.input-box input[type="button"] { 
  width: 30%;
  padding: 15px;
  border: none;
  background-color: #ff4d00;
  color: white;
  font-size: 1em;
}

#footer {

  margin-left: 15px;
  margin-right: 60px;
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.footer-logo img{
  max-width: 80vw;
}
.footer-logo p{
  font-size: 1em;
}
.footer-menu-home{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}
.footer-menu-home a{
  text-decoration: none;
  color: rgb(143, 148, 144);
  font-size: 1em;
}
.footer-menu-features{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  
}
.footer-menu-features a{
  text-decoration: none;
  color: rgb(143, 148, 144);
  font-size: 1em;
}
.footer-social-icon  {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: auto;
  height: auto;
  margin-top: 20px;
}
}
